@model IEnumerable<QuanLyBenhNhan_bigdata.Models.PhieuKT>

@{
    ViewData["Title"] = "GetAllPhieuKTTheoBN";
    int i = 1;
}

<h1>Danh sách kiểm tra sức khỏe của bệnh nhân</h1>

<p>
    <a asp-action="Create" asp-route-MaBN="@ViewBag.MaBN">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhieu)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Predict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Probability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(i++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhieu)
            </td>
            
            @if(item.Predict == true)
                {
                <td>
                    Có 
                </td>
                }
            else{
                <td>
                    Không
                </td>
            }
            
            <td>
                @Html.DisplayFor(modelItem => item.Probability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.ActionLink("Cập nhật", "Edit", new { _id=item._id,MaBN=item.MaBN }) |
                @Html.ActionLink("Chi tiết", "Details", new { _id = item._id, MaBN = item.MaBN }) |
                @Html.ActionLink("Xóa", "Delete", new { _id = item._id, MaBN = item.MaBN })
            </td>
        </tr>
}
    </tbody>
    
</table>
<a href="/BenhNhan">Danh sách bệnh nhân</a>
